{% extends "BookListings/base.html" %}
{% load crispy_forms_tags %}       

{% block content %}
<head>
    <style>
        .column {
            float: left;
            width: 40%;
            margin-left: 5%;
            margin-top: 1%;

        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            <h1>User Classes</h1>

            <ul>
                {% for class in userClasses %}
                <li>{{class}}</li>

                {% endfor %}
            </ul>
            

            </div>

        <div class="column">
            <h1>Add Classes</h1>
            <div>   
                <form method="POST" action="{% url 'users:addClasses' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="container text-center">
                        <button name="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body

{% endblock content %}